body
{
  font-size: 14pt;
}

* {
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
}

@font-face {
  font-family: "iconfont logo";
  src: url('https://at.alicdn.com/t/font_985780_km7mi63cihi.eot?t=1545807318834');
  src: url('https://at.alicdn.com/t/font_985780_km7mi63cihi.eot?t=1545807318834#iefix') format('embedded-opentype'),
  url('https://at.alicdn.com/t/font_985780_km7mi63cihi.woff?t=1545807318834') format('woff'),
  url('https://at.alicdn.com/t/font_985780_km7mi63cihi.ttf?t=1545807318834') format('truetype'),
  url('https://at.alicdn.com/t/font_985780_km7mi63cihi.svg?t=1545807318834#iconfont') format('svg');
}
.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.logo {
  height: 200px;
  background-image: url(../res/logo.jpg);
  background-size: 200px;
  background-position: center, center;
  background-repeat: no-repeat;
}

.top-pic {
  height: 300px;
  background-image: url(../res/body.jpg);
  background-size: 100%;
  background-position: center, center;
  background-repeat: no-repeat;
}
.top-pic>.shadow {
  height: 80px;
  background: linear-gradient(to bottom,rgba(38,38,38,1),rgba(255,255,255,0));
}
.top-pic>.shadow1 {
  position:relative;
  bottom: 100px;
  height: 120px;
  background: linear-gradient(to top,rgba(38,38,38,1),rgba(255,255,255,0));
}
/*.top-pic>.logo {
  width: 400px;
  height: 100px;
  font-size: 50px;
  color: #B60A00;
  font-weight: 800;
  text-align: center;
  margin: 0 auto;
  line-height: 140px;
}*/
.bodybg {
  display: inline-block;
  width: 100%;
  height: 2400px;
  background-image: url(../res/header.jpg);
  background-size: 100%;
  background-position: center, center;
  background-repeat: repeat-y;
}
.bodybg>.shadow {
  display: inline-block;
  width: 100%;
  height: 100%;
  background-color: rgba(55,55,55,0.9);
}

.nav {
  position: sticky;
  top: 0;
  height: 50px;
  background-color: rgba(138,138,138,0.4);
  display: flex;
}
.nav-b {
  height: 50px;
  margin: 0 auto;
  font-weight: 600;
}
.nav-b a {
  display: inline-block;
  text-align: center;
  line-height: 50px;
  width: 150px;
  height: 100%;
  font-size: 16px;
  color: #EAE0E2;
}
.nav-b a:hover {
  background-color: rgba(48,48,48,0.5);
  color: #C80B00;
}

.first {
  width: 90%;
  height: 370px;
  margin: 20px 5% 20px 5%;
  /*background-color: red;*/
}
.devlog-box {
  display: inline-block;
  width: 60%;
  height: 350px;
  margin-top: 20px;
  overflow: hidden;
  
}
.head-text {
  height:30px;
  border-bottom:1px solid #A81900;
  
}
.text-main {
  display: inline-block;
  font-size: 22px;
  color: #A11100;
  font-weight:800;
  text-shadow: 0px 0px 11px #fff;
}
.text-more {
  display: inline-block;
  font-size: 16px;
  color: #BC1C00;
  margin-top: 10px;
  float: right;
  vertical-align:bottom;
  text-shadow: 0px 0px 11px #fff;
  font-weight:700;
}

.descp-box {
  float: right;
  display: inline-block;
  width: 30%;
  height: 300px;
  margin-top: 20px;
  color: #B8B8B8;
  font-size: 15px;
}
.descp-box p {
  margin-top: 9px;
}


.devlog-line {
  height: 28px;
  line-height: 28px;
  border-bottom: 1px solid #636363;
}
.devlog-line p {
  display: inline-block;
  font-size: 13px;
  color: #C1C1C1;
  vertical-align: top;
  margin-right: 15px;
}

.devlog-line a {
  display: inline-block;
  color: #C1C1C1;
}
.devlog-line>.time {
  float: right;
  display: inline-block;
  color: #A0A0A0;
  font-size: 13px;
}

.secon {
  width: 90%;
  height: 650px;
  margin: 20px 5% 20px 5%;
  /*background-color: red;*/
}
.ranking-box {
  display: inline-block;
  width: 100%;
  height: 600px;
  margin-top: 10px;
}
.rank-icon {
  font-size: 15px;
}
.coun-icon {
  font-size: 23px;
}
.rank-l0 {
  font-size: 15px;
  height: 30px;
}
.rank-time {
  color: #C0BCBC;
  line-height: 30px;
  float:right;
  margin-right: 0px;
}
.rank-l1 {
  height: 175px;
  overflow:hidden;
  margin-top: 15px;
}
.rank-l2 {
  height: 175px;
  overflow:hidden;
  margin-top: 15px;
}
.rank-l3 {
  height: 175px;
  overflow:hidden;
  margin-top: 15px;
}

.ranking .EGL {
  display: inline-block;
  width: 45%;
  /*background-color: #fff;*/
}
.ranking .WG {
  display: inline-block;
  width: 45%;
  float: right;
  /*background-color: #fff;*/
}
.ranking .SVT {
  display: inline-block;
  width: 45%;
}
.ranking .EG {
  display: inline-block;
  width: 45%;
  float: right;
  /*background-color: #fff;*/
}
.ranking .USA {
  display: inline-block;
  width: 45%;
}
.ranking .TOT {
  display: inline-block;
  width: 45%;
  float: right;
  /*background-color: #fff;*/
}
.ranking table {
  text-align: center;
  table-layout: fixed;
}
.ranking td {
  width: 25%;
  height: 20px;
  color: #979797;
  border-bottom: 1px solid #868686;
  overflow:hidden;
  white-space:nowrap;
  word-break:keep-all;
  /*white-space: nowrap;
  overflow:hidden;*/
  font-size: 13px;
  line-height: 20px;
}
.rank-title {
  display: inline-block;
  width: 100%;
  height: 25px;
  font-size: 20px;
  color: #E0DA00;
  font-weight: 800;
  text-align: center;
  line-height: 40px;
}
.WG .rank-title {
  color: #A2BDD6;
}
.SVT .rank-title {
  color: #6DA66B;
}
.EG .rank-title {
  color: #8F8F8F;
}
.USA .rank-title {
  color: #C88A4C;
}
.TOT .rank-title {
  color: #E8E8E7;
}
.ranking table {
  width: 100%;
}
.ranking th {
  width: 20%;
  color: #A4A4A4;
  border-bottom: 1px solid #BCBCBC;
}



.thir {
  width: 90%;
  height: 340px;
  margin: 20px 5% 20px 5%;
  /*background-color: red;*/
}
.dona-box {
  display: inline-block;
  width: 100%;
  height: 300px;
  margin-top: 10px;
}
.dona {
  width: 100%;
  /*background-color: #fff;*/
  display: flex; 
  margin-top: 20px;
}

#dona .text-more {
  font-size: 20px;
  margin-top: 4px;
  color: #E5DCDB;
}
.dona-pic-box {
  display: inline-block;
  width: 25%;
  height: 400px;
  margin: auto;
}
.donaPic {
  display: inline-block;
  width: 100%;
  height: 380px;
  
  
}
.dona p {
  font-weight: 800;
  color: #fff;
  text-align: center;
}
.dona .pic0 {
  background-image: url(../res/dona.jpg);
  background-size: 100%;
  background-position: center, center;
  background-repeat: no-repeat;
 }
  
.dona .pic1 {
  background-image: url(../res/q.jpg);
  background-size: 100%;
  background-position: center, center;
  background-repeat: no-repeat;
}
  
.dona .pic2 {
  background-image: url(../res/g.png);
  background-size: 95%;
  background-position: center, center;
  background-repeat: no-repeat;
}

