.collapse-sub-menu {
    margin: 0.5rem 1rem;
    color: var(--secon-title-font-color);
    &:hover {
        text-indent: 1em;
            font-style: italic;
            background-color: var(--doc-background-hov);
            color: var(--doc-title-font-hov);
            box-shadow:
            0 0   8px  rgba(var(--doc-outline-light-rgb), 0.25),
            0 0   12px  rgba(var(--doc-outline-light-rgb), 0.20),
            0 0  20px  rgba(var(--doc-outline-light-rgb), 0.15),
            0 0  36px  rgba(var(--doc-outline-light-rgb), 0.10);
    }
}
.sub-menu-is-selected {
    color: var(--highlight-text-color);
}