

.card-list-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 2rem;
    grid-auto-rows: 10rem;
    padding: var(--common-padding-top) var(--common-padding-side) var(--common-padding-bottom);
}

@media (max-width: 960px) {
    .card-list-grid {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 2rem;
        grid-auto-rows: 8rem;
        padding: var(--common-padding-top-m) var(--common-padding-side-m) var(--common-padding-bottom-m);
    }
}