

.image-text-card {
    width: 16.5rem;
    height: 23rem;
    background-color: rgba(39,55,61,1);
    /* margin-left: 7vw; */
    margin-right: 3rem;
    flex-shrink: 0;
    border: .25px solid rgba(255, 255, 255, 0.1);
    .img-box {
        position: relative;
        width: 100%;
        height: 10.35rem;
        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
        .time-text {
            position: absolute;
            bottom: 0.8rem;
            right: 1rem;
            z-index: 500;
            /* margin-left: 1.5vw; */
            color: rgb(220, 220, 220);
            font-size: 0.9rem;
            font-weight: 700;
        }
        &::after {
            position: absolute;
            width: 100%;
            content: '';
            height: 5rem;
            bottom: 0;
            left: 0;
            background: linear-gradient(to top, rgba(39,55,61,1), rgba(39,55,61,0));
        }
    }

    .detail-box {
        position: relative;
        height: 12.65rem;
        overflow: hidden;
        padding: 0 1rem 0;
        .title {
            color: rgb(255, 255, 255);
            font-weight: 700;
            font-size: 1.2rem;
            margin-bottom: 0.5rem;
            text-align: left;
        }
        .content {
            color: rgb(220, 220, 220);
            font-weight: 400;
            font-size: 1rem;
            line-height: 1.5;
            text-align: left;
        }
        &::after {
            position: absolute;
            width: 100%;
            content: '';
            height: 5vh;
            bottom: 0;
            left: 0;
            background: linear-gradient(to top, rgba(39,55,61,1), rgba(39,55,61,0));
        }
    }

    &:hover {
        border:1px solid#ffb84f;
    }

}



@media (max-width: 960px) {

    .image-text-card {
        width: 21rem;
        height: 30rem;
        background-color: rgba(39,55,61,1);
        /* margin-left: 7vw; */
        margin-right: 1.5rem;
        flex-shrink: 0;
        border: .25px solid rgba(255, 255, 255, 0.1);
        .img-box {
            position: relative;
            width: 100%;
            height: 14.4rem;
            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
            .time-text {
                position: absolute;
                bottom: 0.8rem;
                right: 1rem;
                z-index: 500;
                /* margin-left: 1.5vw; */
                color: rgb(220, 220, 220);
                font-size: 0.9rem;
                font-weight: 700;
            }
            &::after {
                position: absolute;
                width: 100%;
                content: '';
                height: 5rem;
                bottom: 0;
                left: 0;
                background: linear-gradient(to top, rgba(39,55,61,1), rgba(39,55,61,0));
            }
        }

        .detail-box {
            position: relative;
            height: 15.6rem;
            overflow: hidden;
            padding: 0 1rem 0;
            .title {
                color: rgb(255, 255, 255);
                font-weight: 700;
                font-size: 1.2rem;
                margin-bottom: 0.5rem;
                text-align: left;
            }
            .content {
                color: rgb(220, 220, 220);
                font-weight: 400;
                font-size: 1rem;
                line-height: 1.5;
            }
            &::after {
                position: absolute;
                width: 100%;
                content: '';
                height: 5vh;
                bottom: 0;
                left: 0;
                background: linear-gradient(to top, rgba(39,55,61,1), rgba(39,55,61,0));
            }
        }

        &:hover {
            border:1px solid#ffb84f;
        }

    }
}